#logo{
    width: 150px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: px;
    align-items: top;
}

.headsec{
    background-image:url(./images/1576px-sri-lankan-elephant-and-white-bellied-sea-eagles-in-kumana-national-parkjpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.flexboxcontainer{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color:rgb(194, 245, 143)
    
}

.flexboxcontainer p{
    font-size: 20px;
}

h3{
    color: white;
    font-size: 30px;
}

.box{
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 10px;
}

.box:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.03);
    transition:all 1s ease;
}

.box-image{
    height: 400px;
    background-size: cover;
}

.img-1{
    background-image: url(./images/sri\ lankan\ junglefawl.webp);

}

.img-2{
    background-image: url(./images/2560px-sri-lankan-sloth-bear-photographed-in-wilpattu-national-park.webp);
}

.img-3{
    background-image: url(./images/2560px-blue-magpie-281663453729329.jpg);
}

.img-4{
    background-image: url(./images/800px-sri-lanka-purple-faced-leaf-monkeyjpg.webp);
}

.img-5{
    background-image: url(./images/crimson-backed-flameback.webp);
}

.img-6{
    background-image: url(./images/sri\ lankan\ krait.webp);
}

h1{
    color: white;
    font-family: 'Noto Sans Symbols', sans-serif;
    text-align: center;
    font-size: 80px;
}

h2{
    font-size: 30px;
}

h3{
    color: #000000;
}


.sec1{
    justify-content: center;
    align-items: center;
    
}

.sec2{
    width: 70%;
    
}

#yala-img{
    float:left;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    max-width: 420px;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 30px;
    
}

.leopard2{
    width: 70%;
  
}

#wilpattu-img{
    float:left;
    border: 3px solid;
    border-color: rgb(1, 1, 1);
    max-width: 420px;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 30px;
}

.sec2 a{
    border: 1px solid #000000;
    background: #000000;
    padding:8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
}


.sec2 a:hover{
    background: white;
    color: #000000;
}

/* footer stylings /*/



footer{
    background-color: #000000;
    width: 100%;
}

.footercontainer{
    padding: 70px 30px 20px;  
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition:0.5s;

}

.social-icons a:hover i{
    color:white;
    transition: 0.5s;   
}

.footernav{
    margin: 30px;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
}

@media (max-width:700px) {
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.newsletter {
    text-align: center;
    margin-top: 20px;
  }
  
  .newsletter h3 {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 50px;
  }
  
  #newsletterForm {
    display: flex;
    justify-content: center;
  }
  
  #email {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }